<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- Card Advance -->
    <div class="row match-height">
      <!-- Congratulations Card -->
      <!-- <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="card card-congratulations">
          <div class="card-body text-center">
            <img src="assets/images/elements/decore-left.png" class="congratulations-img-left" alt="card-img-left" />
            <img src="assets/images/elements/decore-right.png" class="congratulations-img-right" alt="card-img-right" />
            <div class="avatar avatar-xl bg-primary shadow">
              <div class="avatar-content">
                <i data-feather="award" class="font-large-1"></i>
              </div>
            </div>
            <div class="text-center">
              <h1 class="mb-1 text-white">Welcome</h1>
              <p class="card-text m-auto w-75">UFIRM admin page</p>
            </div>
          </div>
        </div>
      </div> -->
      <!--/ Congratulations Card -->

      <div class="col-lg-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-2">
            <div class="avatar bg-light-primary p-50 m-0">
              <div class="avatar-content">
                <i data-feather="edit" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1 mb-2">Task Manager</h2>
            <h5 class="mb-1">Daily Tasks : {{dailyTasks}}</h5>
            <h5 class="mb-1">Weekly Tasks : {{weeklyTasks}}</h5>
            <h5 class="mb-1">Overdue Tasks : {{overdueTasks}}</h5>
      <a class="navbar-brand" [routerLink]="['/dashboard/taskManager']">
            <button class="mb-2" type="button" class="btn btn-outline-primary" rippleEffect>View</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-2">
            <div class="avatar bg-light-primary p-50 m-0">
              <div class="avatar-content">
                <i data-feather="users" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1 mb-2">Facility Team</h2>
            <h5 class="mb-1">IFM Staff : {{facilityMembers}}</h5>
            <h5 class="mb-1">Guards : {{guardsList}}</h5>
            <h5 class="mb-1">Vendors : {{vendors}}</h5>
            <a class="navbar-brand" [routerLink]="['/dashboard/taskManager']">
              <button class="mb-2" type="button" class="btn btn-outline-primary" rippleEffect>View</button>
              </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-header d-flex flex-column align-items-start pb-2">
            <div class="avatar bg-light-primary p-50 m-0">
              <div class="avatar-content">
                <i data-feather="search" class="font-medium-5"></i>
              </div>
            </div>
            <h2 class="font-weight-bolder mt-1 mb-2">Spot Visits (Month)</h2>
            <h5 class="mb-1">Supervisors : {{supervisors}}</h5>
            <h5 class="mb-1">Trainers : {{trainers}}</h5>
            <h5 class="mb-1">Managers : {{managers}}</h5>
            <a class="navbar-brand" [routerLink]="['/dashboard/taskManager']">
              <button class="mb-2" type="button" class="btn btn-outline-primary" rippleEffect>View</button>
              </a>
          </div>                                                                                                      
        </div>
      </div>
    </div>

  </div>
</div>
