<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="card">
      <h1 class="card-header">Task Manager</h1>
      <div class="card-body statistics-body">
        <div class="row">
          <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
              <div class="avatar bg-light-primary mr-2">
                <div class="avatar-content">
                  <i data-feather="trending-up" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{ actionableTasks }}</h4>
                <p class="card-text font-small-3 mb-0">Actionable Tasks</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
              <div class="avatar bg-light-info mr-2">
                <div class="avatar-content">
                  <i data-feather="user" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{pendingTasks }}</h4>
                <p class="card-text font-small-3 mb-0">Pending Tasks</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
            <div class="media">
              <div class="avatar bg-light-danger mr-2">
                <div class="avatar-content">
                  <i data-feather="box" class="avatar-icon"></i>
                </div>
              </div>
              <div class="media-body my-auto">
                <h4 class="font-weight-bolder mb-0">{{completedTasks }}</h4>
                <p class="card-text font-small-3 mb-0">Completed Tasks</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-header filter-title">Search Filter</h5>
        <div class="users-list-filter">
          <form>
            <div class="row">
              <div class="col-12 col-md-3">
                <fieldset class="form-group">
                  <ng-select [items]="selectProperty" [(ngModel)]="selectedProperty" name="selectedProperty"
                    bindLabel="Name" placeholder="Select Property" ></ng-select>
                </fieldset>
              </div>
              <div class="col-12 col-md-3">
                <fieldset class="form-group">
                  <ng-select [items]="selectCategory" [(ngModel)]="selectedCategory" name="selectedCategory"
                    bindLabel="name" placeholder="Select Category" (change)="categorySelection($event)"></ng-select>
                </fieldset>
              </div>
              <div class="col-12 col-md-3">
                <fieldset class="form-group">
                  <ng-select [items]="selectSubCategory" [(ngModel)]="selectedSubCategory" name="selectedSubCategory"
                    bindLabel="SubCategoryName" placeholder="Select Sub Category"></ng-select>
                </fieldset>
              </div>
              <div class="col-12 col-md-3">
                <fieldset class="form-group">
                  <ng-select [items]="selectTaskStatus" [(ngModel)]="selectedTaskStatus" name="selectedTaskStatus"
                    bindLabel="name" placeholder="Select Task Status"></ng-select>
                </fieldset>                                                                                                     
              </div>
              <div class="col-12 col-md-3">
                <fieldset class="form-group">
                  <ng-select [items]="selectRepeatFrequency" [(ngModel)]="selectedRepeatFrequency"
                    name="selectRepeatFrequency" bindLabel="name" placeholder="Select Occcurance"></ng-select>
                </fieldset>
              </div>
              <div class="col-12 col-md-3">
                <fieldset class="form-group">
                  <ng-select [items]="selectTaskPriority" [(ngModel)]="selectedTaskPriority" name="selectedTaskPriority"
                    bindLabel="Name" placeholder="Select Task Priority"></ng-select>
                </fieldset>
              </div>
              <div class="col-12 col-md-3">
                <div class="input-group">
                  <input class="form-control" placeholder="Date From" name="Basic Date Picker"
                    [(ngModel)]="selectedDateFrom" ngbDatepicker #basicDPfrom="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDPfrom.toggle()"
                      type="button" rippleEffect></button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="input-group">
                  <input class="form-control" placeholder="Date To" name="Basic Date Picker"
                    [(ngModel)]="selectedDateTo" ngbDatepicker #basicDPto="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDPto.toggle()"
                      type="button" rippleEffect></button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <button type="button" class="btn btn-outline-danger" rippleEffect (click)="resetData()">Reset</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" rippleEffect (click)="filterData()">Filter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row match-height">
      <div class="col-xxl-6 col-lg-5 col-12" *ngIf="isFilterActive">
        <div class="card">
          <div class="card-body">
            <div id="bar-chart" #apexBarChartRef *ngIf="categoryWiseData.length>0">
              <apx-chart [series]="apexBarChart.series" [chart]="{
                    height: 400,
                    width: 500,
                    type: 'bar',
                    toolbar: {
                      show: false
                    }
                  }" [dataLabels]="apexBarChart.dataLabels" [plotOptions]="apexBarChart.plotOptions"
                [xaxis]="apexBarChart.xaxis" [colors]="apexBarChart.colors" [grid]="apexBarChart.grid"></apx-chart>
            </div>
            <div class="noData-div" *ngIf="categoryWiseData.length == 0">
              <img src="assets/images/icons/noFile.png" alt="brand-logo" class="noData-img"/>
              <h3 class="noData-text">No Data Available</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-lg-5 col-12" *ngIf="isFilterActive">
        <div class="card">
          <div class="card-body">
            <div id="donut-chart" #apexDonutChartRef *ngIf="categoryWiseTaskSummaryData.length>0">
              <apx-chart [series]="apexDonutChart.series" [chart]="{
                    height: 400,
                    width: 600,
                    type: 'donut'
                  }" [labels]="apexDonutChart.labels" [plotOptions]="apexDonutChart.plotOptions"
                [responsive]="apexDonutChart.responsive" [colors]="apexDonutChart.colors"
                [legend]="apexDonutChart.legend"></apx-chart>
            </div>
            <div class="noData-div" *ngIf="categoryWiseTaskSummaryData.length == 0">
              <img src="assets/images/icons/noFile.png" alt="brand-logo" class="noData-img"/>
              <h3 class="noData-text">No Data Available</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-lg-9 col-12" *ngIf="isFilterActive">
        <div class="card">
          <div class="card-body">
            <div id="column-chart" #apexPriorityBarChartRef *ngIf="taskPriorityCountData.length>0">
              <apx-chart [series]="apexPriorityBarChart.series" [chart]="{
                height: 400,
                width: 650,
                type: 'bar',
                toolbar: {
                  show: false
                }
              }" [dataLabels]="apexPriorityBarChart.dataLabels" [plotOptions]="apexPriorityBarChart.plotOptions"
            [xaxis]="apexPriorityBarChart.xaxis" [colors]="apexPriorityBarChart.colors" [grid]="apexPriorityBarChart.grid"></apx-chart>
            </div>
            <div class="noData-div" *ngIf="taskPriorityCountData.length == 0">
              <img src="assets/images/icons/noFile.png" alt="brand-logo" class="noData-img"/>
              <h3 class="noData-text">No Data Available</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="isFilterActive">
      <div class="card-body">
        <ngx-datatable [rows]="taskSummaryData" [rowHeight]="50" class="bootstrap core-bootstrap"
        [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
        [scrollbarH]="true">
        <ngx-datatable-column name="Id" [width]="80">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <div class="cell-line-height">
                <a class="d-block"><span class="font-weight-bold">{{ row.Id }}</span></a>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Category Name" prop="CategoryName" [width]="200">
        </ngx-datatable-column>
        <ngx-datatable-column name="Task Name" prop="TaskName" [width]="450"></ngx-datatable-column>
        <ngx-datatable-column name="Total Tasks" prop="TotalTasks" [width]="120">
          <!-- <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <div class="cell-line-height">
                <a class="d-block" (click)="modalOpenVC(modalVC)"><span class="font-weight-bold">{{ row.TotalTasks }}</span></a>
              </div>
            </div>
          </ng-template> -->
        </ngx-datatable-column>
        <ngx-datatable-column name="Completed" prop="CompletedTasks" [width]="120">
        </ngx-datatable-column>
        <ngx-datatable-column name="Overdue" prop="OverdueTasks" [width]="100">
        </ngx-datatable-column>
        <ngx-datatable-column name="Percentage" prop="CompletionPercentage" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Action Item" prop="ActionItem" [width]="120"></ngx-datatable-column>
        <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div container="body">
              <button type="button" class="btn icon-btn btn-sm" style="color: #7367f0;" rippleEffect (click)="modalOpenVC(modalVC,row.CategoryId)">
                <span [data-feather]="'eye'" [class]="'cursor-pointer'"></span>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="d-flex justify-content-between align-items-center m-1">
            <label class="d-flex align-items-center">
              <select class="form-control mx-25" [(ngModel)]="pagesize" (change)="onChangePageSize()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end"></div>
      </div>
      </div>
    </div>

    <!-- Modal -->
    <ng-template #modalVC let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Task Details</h5>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="col-12">
          <div class="row mb-1 mt-1 justify-content-between">
            <div>
              Total Tasks: {{taskWiseStatusData.length}}
            </div>
            <div class="row justify-content-between">
              <fieldset class="form-group mb-0 mx-2">
                <ng-select [items]="selectTaskStatus" [(ngModel)]="selectedModalTaskStatus" name="selectedModalTaskStatus"
                  bindLabel="name" placeholder="Select Status"></ng-select>
              </fieldset> 
              <button type="button" class="btn btn-primary" rippleEffect (click)="updateModalTasks()">Filter</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Task Name</th>
                <th>Assigned To</th>
                <th>Updated On</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of taskWiseStatusData">
                <td>{{data.TaskName}}</td>
                <td>{{data.AssignToName}}</td>
                <td>{{data.Updatedon.split('T')[0]}}</td>
                <td><span class="badge badge-pill badge-light-primary mr-1">{{data.TaskStatus}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Accept click')" rippleEffect>
          Close
        </button>
      </div>
    </ng-template>

  </div>
</div>